@media only screen and (max-width: 748px) {
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .menu > ul{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .menu > ul > li{
        margin: 5px;
        text-align: center;
    }

    .projeto1{
        display: flex;
        flex-direction: column;
    }

    .projeto-card{
        width: 100%;
        height: 150px;
    }

    .projeto-textt{
        width: 100%;
        height: 150px;
    }
}