@media only screen and (max-width: 748px) {
   
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .menu > ul{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .menu > ul > li{
        margin: 5px;
        text-align: center;
    }

    header{
        max-height: 500px;
    }

    .header-juntando{
        height: 250px;
    }

    .header-0{
        max-width: 100%;
        text-align: center;
        margin-top: 0;
        height: 300px;
    }
    
    .header-2 {
        display: none;
    }

    .projeto{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}